.bolder {
  font-weight: 700;
  font-size: 52px;
  line-height: 40px;
}

.vh70 {
  height: 70vh;
}

.wrapper {
  position: absolute;
  width: 100%;
}

.gradient {
  background: black;
  opacity: 0.6;
  width: 100%;
  height: calc(70vh - 80px);
  min-height: 600px;
  object-fit: cover;
  z-index: 2;
}

video {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: calc(70vh - 80px);
  min-height: 600px;
  object-fit: cover;
}
